@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: rgb(var(--foreground-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #212121; */
}

/* Custom Text Gradient, dont remove this is for the text */
.text-gradient {
  background: linear-gradient(90deg, #19fb9b, #5275bb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
